<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Добавление задачи</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<form action="/addtask" class="decor_1">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3>Добавление задач</h3>
        <input type="text" name="taskName" placeholder="Введите название задачи">
        <br>
        <input type="number" name="courseId" placeholder="Введите номер курса">
        <br>
        <textarea name="newTask" placeholder="Введите условие задачи"></textarea>
        <div><input type="submit" value="Добавить задачу"/></div>
</form>
</body>
</html>
