<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<form action="/registration">
    <label>Введите имя пользователя:</label>
    <input type="text" name="userName" placeholder="Введите имя">
    <br>
    <label>Введите пароль:</label>
    <input type="password" name="password" placeholder="Введите пароль">
    <br>
    <a href = "registration.html">Впервые на сайте?</a>
    <br>
    <button type="submit">Авторизоваться</button>
</form>
</body>
</html>